<div class="text-center">


    <h1 class="display-4"> Soy Yamil Arguedas</h1>
    <h2>Soy un estudiante del CTP San Rafael de la seccion 12-4</h2>



    <img id="foto"
         src="~/imagenes/foto.png" alt="Foto de Yamil" />

</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Mis especialidades: Desarrollador Web Full Stack con C#, .NET, Javascript, SQL. Soy un programador apasionado al que le encanta resolver problemas y automatizar tareas. Creo en el código limpio y en la importancia de una buena arquitectura de software. Con pasión por aprender.
        </p>
    </div>
</div>
