@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Yamil Arguedas</h1>
    <h2>Soy un estudiante del CTP San Rafael de la seccion 12-4</h2>



    <img
    style="width: 200px; margin: 2rem 0; border-radius: 50%" 
     src="~/imagenes/foto.png" alt="Foto de Yamil" />

</div>
