@model string

@{

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @Model</h1>
    <h2>Soy un estudiante del CTP San Rafael de la seccion 12-4</h2>



    <img
     id="foto"
     src="~/imagenes/foto.png" alt="Foto de Yamil" />

</div>
