
@{
    ViewData["Title"] = "Pagina principal";
   
 }

<div class="text-center">


    <h1 class="display-4"> Soy Yamil Arguedas</h1>
    <h2>Soy un estudiante del CTP San Rafael de la seccion 12-4</h2>



    <img id="foto"
         src="~/imagenes/foto.png" alt="Foto de Yamil" />

</div>

<div class="text-center">
   <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo" /> 
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Desarrollador Full Stack en [Empresa X]: Durante [período de tiempo], formé parte del equipo de desarrollo de [nombre del proyecto]. Mis responsabilidades incluyeron la creación de la arquitectura del sistema, la implementación de nuevas características y la resolución de problemas complejos. Trabajé con tecnologías como [lista de tecnologías utilizadas].
        </p>
    </div>
</div>
 